.primary-toolbar {
    background : #f3f6f8;
}

.primary-toolbar .x-btn {
    background : transparent !important;
    border     : 0 none !important;
}

.primary-toolbar .icon{
}

.primary-toolbar .x-btn-over .x-btn-icon-el {
    opacity : 0.8;
}

.primary-toolbar .x-btn-pressed .x-btn-icon-el {
    opacity : 1;
}

.primary-toolbar .x-btn-icon-el {
    background-size : 20px 20px;
    background-position : center center;
    opacity         : 0.4;
}

.icon-right { background-image : url(images/arrow-right.png); }

.icon-left { background-image : url(images/arrow-left.png); }

.icon-zoomin { background-image : url(images/zoom-in.png); }

.icon-zoomout { background-image : url(images/zoom-out.png); }

.icon-zoomfit { background-image : url(images/move.png); }

.icon-fullscreen { background-image : url(images/fullscreen-enter.png); }

.icon-collapseall { background-image : url(images/collapse.png); }

.icon-expandall { background-image : url(images/expand.png); }

.icon-criticalpath { background-image : url(images/hot.png); }

.icon-add { background-image : url(images/add.png); }

.icon-delete { background-image : url(images/delete.png)}

.icon-indent { background-image : url(images/indent.png)}

.icon-outdent { background-image : url(images/outdent.png)}

.TaskType { background-image : url(images/outdent.png)}

.icon-save { background-image:url(images/save.png);
    background-size : 18px 18px !important;
}

.icon-calendarmgr {
    background-size : 18px 18px !important;
    background-image : url(images/calendar.png);
}

/* IE8 hacks */

.x-ie8 .primary-toolbar .x-btn-icon-el {
    background-image : none !important;
}

.x-ie8 .icon-right {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-right.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-right.png', sizingMethod='scale')";
}

.x-ie8 .icon-left {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-left.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/arrow-left.png', sizingMethod='scale')";
}

.x-ie8 .icon-zoomin {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-in.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-in.png', sizingMethod='scale')";
}

.x-ie8 .icon-zoomout {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-out.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/zoom-out.png', sizingMethod='scale')";
}

.x-ie8 .icon-zoomfit {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/move.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/move.png', sizingMethod='scale')";
}

.x-ie8 .icon-fullscreen {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/fullscreen-enter.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/fullscreen-enter.png', sizingMethod='scale')";
}

.x-ie8 .icon-collapseall {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/collapse.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/collapse.png', sizingMethod='scale')";
}

.x-ie8 .icon-expandall {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/expand.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/expand.png', sizingMethod='scale')";
}

.x-ie8 .icon-criticalpath {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/hot.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/hot.png', sizingMethod='scale')";
}

.x-ie8 .icon-add {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/add.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/add.png', sizingMethod='scale')";
}

.x-ie8 .icon-delete {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/delete.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/delete.png', sizingMethod='scale')";
}

.x-ie8 .icon-indent {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/indent.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/indent.png', sizingMethod='scale')";
}

.x-ie8 .icon-outdent {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/outdent.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/outdent.png', sizingMethod='scale')";
}

.x-ie8 .icon-save {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/save.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/save.png', sizingMethod='scale')";
}

.icon-calendarmgr {
    filter     : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/calendar.png', sizingMethod='scale')";
    -ms-filter : "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/calendar.png', sizingMethod='scale')";
}
